{% extends 'Home/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
            <h2 class="title text-center">Change Password</h2>
                <div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="row-mt-3">
                            <div class="col-md-12">
                                <label class="label">Old Password</label>
                                {{ form.old_password | add_class:'form-control'}}
                            </div>
                        </div>
                        <div class="row-mt-3">
                            <div class="col-md-12">
                                <label class="label">New Password</label>
                                {{ form.new_password1 | add_class:'form-control'}}
                            </div>
                        </div>
                        <div class="row-mt-3">
                            <div class="col-md-12">
                                <label class="label">Confirm Password</label>
                                {{ form.new_password2 | add_class:'form-control'}}
                            </div>
                        </div>
                        {{ form.errors }}
                        <div class="p-t-15">
                            <button class="btn btn-info" type="submit">Change Password</button>
                        </div>

                    </form>

                </div>
                </div>
            </div>
        </div>
    </div>



<script src="{% static 'Auth/vendor/jquery/jquery.min.js' %}"></script>
<!-- Vendor JS-->
<script src="{% static 'Auth/vendor/select2/select2.min.js' %}"></script>
<script src="{% static 'Auth/vendor/datepicker/moment.min.js' %}"></script>
<script src="{% static 'Auth/vendor/datepicker/daterangepicker.js' %}"></script>
<!-- Main JS-->
<script src="{% static 'Auth/js/global.js' %}"></script>
{% endblock %}
